@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    background: #106900;
}

main {
    display: none;
}

section, section div, a{
    display: flex;
}

main, #waste, a {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#waste {
    flex-basis: 50%;
}

#waste div {
    width: 100%;
    flex-basis: 70%;
    justify-content: center;
    background-image: url("tri-selectif.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#waste a {
    width: 100%;
    font-size: 2vw;
    text-decoration-line: none;
}

a span {
    color: black;
    padding: 0 .5rem;
}

h1, p, a span {
    background: white;
    margin: .5rem;
}

#dustFrame {
    flex-basis: 30%;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
}

#dustFrame div {
    flex-basis: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* next page */
#nextPage {
    /*display: none;*/
}

#result {
    width: 100%;
    justify-content: space-evenly;
}

#result div {
    flex-basis: 9%;

    flex-direction: column;
    justify-content: space-evenly;
}

.dustbinUsed {
    position: relative;
}

.currentWaste, .dustbinUsed, .rightDustbin {
    padding-bottom: 100%;
    border: 1px solid black;
}

.currentWaste {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: darkred 1px dashed;

    animation-name: toTheGoodOne;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes toTheGoodOne {
    to {
      top : 200%;
    }
}
