@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    background: #106900;
}

main, section, section div, a{
    display: flex;
}

main, #waste, a {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#waste {
    flex-basis: 50%;
}

#waste div {
    width: 100%;
    flex-basis: 70%;
    justify-content: center;
    background-image: url("tri-selectif.jpg");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

a {
    text-decoration-line: none;
}

#waste a {
    width: 100%;
    font-size: 2vw;
}

a span {
    color: black;
    padding: 0 .5rem;
}

h1, p, a span {
    background: white;
    margin: .5rem;
}

#dustFrame {
    flex-basis: 30%;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.dropzone {
    padding-top: 1rem;
    flex-basis: 25%;
    background-size: 54%;
    background-position: center;
    background-repeat: no-repeat;
}

.dropzone:hover {
    background-color: green;
    padding-bottom: 2rem;
    background-size: 56%;
}
  /*************/
 /* next page */
/*************/
#nextPage {
    /*display: none;*/
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

#nextPage input {
    width: 20%;
}

#result {
    width: 100%;
    flex-basis: 96%;
}

#result > div {
    position: relative;
    flex-basis: 9%;
    justify-content: space-between;
}

#result div {
    flex-direction: column;
}

.dustbinUsed, .rightDustbin {
    flex-basis: 33%;
}

.currentWaste, .dustbinUsed, .rightDustbin {
    width: 100%;
    border: 1px solid black;
}

.currentWaste {
    width: 100%;
    height: 33%;
    position: absolute;
    top: 0;
    left: 0;
    border: red 1px dashed;

    animation-name: toTheGoodOne;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes toTheGoodOne {
    to {
      top: 67%;
    }
}
